<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="com.jieweifu.plugins.giz"
  version="0.0.1">

    <name>GIZ</name>
    <description>GIZ for cordova plugin</description>
    <author>jieweifu</author>
    <keywords>GIZ</keywords>

    <preference name="IOS_APP_ID" />
    <preference name="IOS_APP_SECRET" />
    <preference name="ANDROID_APP_ID" />
    <preference name="ANDROID_APP_SECRET" />
    <preference name="PRODUCT_KEY" />
    <preference name="PRODUCT_SECRET" />

    <js-module src="www/GIZPlugin.js" name="GIZPlugin">
        <clobbers target="GIZ" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GIZPlugin">
                <param name="android-package" value="com.jieweifu.plugins.giz.GIZPlugin" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest" mode="merge">
            <!-- Required  一些系统要求的权限，如访问网络等 -->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application" mode="merge">
            <!-- Required. Enable it you can get statistics data with channel -->
            <meta-data android:name="APP_ID" android:value="$ANDROID_APP_ID" />
            <meta-data android:name="APP_SECRET" android:value="$ANDROID_APP_SECRET" />
            <meta-data android:name="PRODUCT_KEY" android:value="$PRODUCT_KEY" />
            <meta-data android:name="PRODUCT_SECRET" android:value="$PRODUCT_SECRET" />
        </config-file>

        <lib-file src="src/android/libs/GizWifiSDK.jar" />
        <lib-file src="src/android/libs/BLEasyConfig.jar" />
        <lib-file src="src/android/libs/easylink2.0.jar" />
        <lib-file src="src/android/libs/Lark7618SDK_noudp1606031910_0101.jar" />
        <lib-file src="src/android/libs/libForEElink.jar" />
        <lib-file src="src/android/libs/LSFSK_1.0.jar" />
        <lib-file src="src/android/libs/OneShotConfig.jar" />
        <lib-file src="src/android/libs/simpleconfigwizardlib.jar" />
        <lib-file src="src/android/libs/zxing.jar" />
        <source-file src="src/android/libs/armeabi/libBLEasyConfig.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libSDKLog.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libsimpleconfiglib.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libwavegen.so" target-dir="libs/armeabi" />
        <source-file src="src/android/GIZPlugin.java" target-dir="src/com/jieweifu/plugins/giz" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/widget">
            <feature name="GIZPlugin">
                <param name="ios-package" value="GIZPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/GIZPlugin.h"/>
        <source-file src="src/ios/GIZPlugin.m"/>
        <framework src="src/ios/framework/GizWifiSDK.framework" custom="true" />
        <framework src="src/ios/framework/libBLEasyConfig.a" custom="true" />
        <framework src="src/ios/framework/libcrypto.a" custom="true" />
        <framework src="src/ios/framework/libEasyLink.a" custom="true" />
        <framework src="src/ios/framework/libEsptouch_v0.3.5.3.a" custom="true" />
        <framework src="src/ios/framework/libLibSimpleConfig.a" custom="true" />
        <framework src="src/ios/framework/libLTLink.a" custom="true" />
        <framework src="src/ios/framework/libssl.a" custom="true" />
        <framework src="src/ios/framework/libWMOneShotConfig.a" custom="true" />
    </platform>
</plugin>